version: '3.5'
services:
  gitlab:
    image: alpinelinux/gitlab:$GITLAB_VERSION
    build:
      context: .
      args:
        - ALPINE_VERSION
        - GITLAB_VERSION
        - GITLAB_SHELL_VERSION
    hostname: ${GITLAB_HOSTNAME:-gitlab}
    restart: always
    volumes:
      - ./storage/repositories:/home/git/repositories
      - ./storage/config:/etc/gitlab
      - ./storage/log:/var/log
      - ./storage/builds:/home/git/gitlab/builds
      - ./storage/shared:/home/git/gitlab/shared
      - ./storage/uploads:/home/git/gitlab/public/uploads
      - ./storage/plugins:/home/git/gitlab/plugins
      - ./storage/certs/registry:/home/git/certs/registry
      - ssh-authorized-keys:/home/git/.ssh/
      - gitlab-secret:/etc/gitlab/gitlab-shell/secret
      - sockets:/home/git/run/
    depends_on:
      - postgres
      - redis
      - gitaly
      - gitlab-shell
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - GITLAB_ROOT_PASSWORD
      - GITLAB_BACKUP_SKIP
      - GITLAB_SERVICES
      - REGISTRY_S3_ACCESSKEY
      - REGISTRY_S3_SECRET
      - REGISTRY_S3_REGION
      - REGISTRY_S3_ENDPOINT
      - REGISTRY_S3_BUCKET
      - REGISTRY_TOKEN_REALM
  gitaly:
    image: alpinelinux/gitaly:$GITALY_SERVER_VERSION
    init: true
    restart: always
    build:
      context: ./gitaly
      args:
        - ALPINE_VERSION
        - GITALY_SERVER_VERSION
        - GITLAB_SHELL_VERSION
    depends_on:
      - gitlab-shell # for gitlab-secret
    volumes:
      - ./storage/repositories:/home/git/repositories
      - ./storage/config/gitaly/:/etc/gitlab/gitaly
      - ./storage/config/gitlab-shell:/etc/gitlab/gitlab-shell
      - ./storage/log/gitaly:/var/log/gitaly
      - sockets:/home/git/run/
      - gitlab-secret:/etc/gitlab/gitlab-shell/secret
  gitlab-shell:
    image: alpinelinux/gitlab-shell:$GITLAB_SHELL_VERSION
    restart: always
    build:
      context: ./gitlab-shell
      args:
        - ALPINE_VERSION
        - GITLAB_SHELL_VERSION
    volumes:
      - ./storage/config/gitlab-shell:/etc/gitlab/gitlab-shell
      - ./storage/config/ssh:/etc/gitlab/ssh
      - ./storage/log:/var/log
      - ssh-authorized-keys:/home/git/.ssh/
      - sockets:/home/git/run/
      - gitlab-secret:/etc/gitlab/gitlab-shell/secret
  postgres:
    image: postgres:12-alpine
    restart: always
    volumes:
      - ./storage/postgres12:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
  redis:
    image: redis:5-alpine
    restart: always
    volumes:
      - ./storage/redis:/data
    entrypoint: redis-server --appendonly yes

  registry:
    image: registry:2
    ports:
      - 5001:5000
    depends_on:
      - gitlab
    volumes:
      - ./storage/config/registry:/etc/docker/registry/
      - ./storage/certs/registry/public:/etc/docker/certs

volumes:
  sockets:
  ssh-authorized-keys:
  gitlab-secret:
